#advanced-search {
	text-align:left;
	width:100%;
	padding:5px 0 15px;
}

#advanced-search-toggle {
	cursor:pointer;
}

#search-query-explained {
	padding:10px 0;
}

#search-query-explained span.term,
#search-query-explained span.date,
#search-query-explained span.when,
#search-query-explained span.branch,
#search-query-explained span.node,
#search-query-explained span.op {
	font-weight:bold;
}

#search-query-explained span.op {
	text-transform:uppercase;
}

#search-results li.search-result .mime-pdf {
	padding-left:20px;
	background:url(../images/mime/pdf.png) no-repeat;
}

#search-results .search-pagination,
#search-results .pagination,
#search-results .search-pages-counter {
	clear:both;
	margin:0 auto;
}

#highlighter-start, #highlighter-end {
	display:none;
	height:0;
	opacity:0;
}

span.highlight {
	background-color:#FFC;
	font-weight:bold;
	padding:1px 4px;
}

ul.autocompleter-choices {
	position:absolute;
	margin:0;
	padding:0;
	list-style:none;
	background:#fff;
	padding-left:5px;
	border-left:1px solid #dedfe3;
	border-right:1px solid #dedfe3;
	border-bottom:1px solid #dedfe3;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	box-shadow:2px 2px 2px #dedfe3
}

ul.autocompleter-choices li {
	position:relative;
	margin:4px;
	padding:4px 3px;
	cursor:pointer;
}

ul.autocompleter-choices li.autocompleter-selected {
	background-color:#f7f7f7;
	border-radius:3px;
}

ul.autocompleter-choices span.autocompleter-queried {
	font-weight:bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
	color:#ff6f05;
}

ul#finder-filter-select-list {
	top: 4em !important;
}
