select,input,body{word-wrap:break-word;font-weight:300;font-size:12pt}
a{text-decoration:none}
h1,h2,h3{font-weight:700}
h1,blockquote,.big{font-size:24pt}
img{max-width:100%;height:auto}
p{line-height:2em;margin:1.7em 0}
blockquote{float:left;max-width:350px;line-height:1.4em;padding:0 .8em;border-width:0 0 0 3px;border-style:solid;margin:35px}
html,body,button,h2,ul,li,fieldset,.caption *,a img{margin:0;padding:0;border:0}

.small{font-size:10pt}
.small [class*="icon-"]{font-size:16px}
.round{border-radius:50%}
.bold{font-weight:700}
.pagination-list,.dropdown-menu,.nav,.pager,.pager ul,.search-result-list,.mostread,.relateditems,.tagssimilar ul,.list-striped,.cat-children ul,.unstyled,.tagspopular ul{list-style-type:none}
blockquote,.italic{font-style:italic}
blockquote,.grey,.pagenavcounter{color:#bbb}
.anim,.anim *,.anim *:before,.anim *:after{transition:all 0.35s;-webkit-transition:all 0.35s;-moz-transition:all 0.35s;-o-transition:all 0.35s}
.pull-right{float:right}.pull-left{float:left}
.loading{background:#fff url(../img/loading.gif) right center no-repeat}
.well{padding:10px;border-radius:5px}

.disabled,.disabled:hover,.disabled > [class*="icon-"],.pager li{box-shadow:none !important;color:#ccc !important;cursor:no-drop}

.inset-3d,.nav-tabs > li > a{background:rgba(0,0,0,.05)}

.folded-shadow{position:relative;box-shadow:0 2px 2px -2px rgba(0,0,0,.2)}
.folded-shadow:before,.folded-shadow:after{position:absolute;content:'';-webkit-box-shadow:0 15px 10px rgba(0,0,0,.2);-moz-box-shadow:0 15px 10px rgba(0,0,0,.2);box-shadow:0 15px 10px rgba(0,0,0,.2);bottom:15px;z-index:-1;width:50%;height:50px}
.folded-shadow:before{left:10px;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg)}
.folded-shadow:after{right:10px;-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg)}

.btn-toolbar{padding:10px 0}
.btn-group{float:left;margin:0 10px 0 0;padding:10px 0 0 0}
.btn,.pager li a:not(:empty){padding:5px 10px;border-radius:3px;white-space:nowrap;outline:0}
.control-group{padding:0 6px 0 0;margin: 0 0 10px 0}
.control-group input{width:100%}

.tabbable,.nav-tabs{*zoom: 1}
.tabbable:before,.tabbable:after {display:table;line-height:0;content:""}
.tab-content{overflow:auto}
.tab-content > .tab-pane{display:none}
.tab-content > .active{display:block}

.nav-tabs:before,.nav-tabs:after{display:table;content:"";clear:both}
.nav-tabs > li{float:left;padding:0 0 4px 0}
.nav-tabs > li > a {padding:8px 12px;text-transform:uppercase;margin:0 5px 0 0;border-radius:3px 3px 0 0}
.nav-tabs > li.active a,.nav-tabs > li > a:hover{box-shadow:2px 0 2px rgba(0,0,0,.2);outline:0}

.dropdown{position:relative}
.dropdown-menu{position:absolute;z-index:1000;border-radius:3px;opacity:0;box-shadow:2px 2px 2px rgba(0,0,0,.2);background:#fff;margin-top:-5px}
.dropdown-menu > li{margin:0 4px;padding:5px;cursor:pointer}
.dropdown-menu > li:first-child{margin-top:4px}
.dropdown-menu > li:last-child{margin-bottom:4px}
.dropdown-menu li:hover,.autocompleter-selected{border-radius:3px}
.open{z-index:1000}
.open >.dropdown-menu{display:block;opacity:1}

#system-message-container{position:fixed;bottom:0px;padding:0 0;background:rgba(0,0,0,0.8);z-index:999;width:100%;display:none}
#system-message :not(:last-child){margin-bottom:2px}
#system-message .alert{width:100%;position:relative;display:block;overflow:hidden;padding: 0 0 0 15px;color:#fff}
#system-message .alert div p:before{font-family:"Elusive-Icons";overflow:hidden;padding:0 15px 0}
#system-message .alert-message div p:before{content:"\e103"}
#system-message .alert-notice div p:before,.alert-warning div p:before{content:"\e009"}
#system-message .alert-error div p:before{content:"\e04C"}
#system-message .alert-heading{display:none}
#system-message .close{position:absolute;right:0;top:0;height:100%;font-size:38pt;color:#fff;padding:0 35px 0 20px;cursor:pointer}
#system-message .alert:before,#system-message p{font-size:32px;text-shadow:1px 1px 0 rgba(0,0,0,0.8);line-height:48pt;float:left}
#system-message p{margin:0}

/* component styles */

.article-contents,.search-results-form{padding:35px;border-radius:0 0 5px 5px;margin:0 0 35px 0}

/* article+blog layout */

.main-content,.sidebar-right,.sidebar-left{margin-top:15px}

.blog-item .article-actions{opacity:0.5}
.blog-item:hover .article-actions{opacity:1}
.blog-item .article-header h2:hover{border-width:0 0 1px 0;border-style:solid}

.separator{height:1px;border:0;border-top:1px solid #e6e7e9}

.article-date{margin:0 0 17px;text-transform:uppercase}
.article-header h2,.article-header h2 a{font-size:32pt;font-weight:700;letter-spacing:-0.05em;padding-bottom:5px}
.article-details{overflow:hidden}
.article-details dd{float:left;margin:15px 15px 0 0}
.article-details dt i{float:left;margin:10px 15px 0px 0;line-height:36px;padding:0 10px;text-align:center}

.article-index{margin:1.0em 35px 35px}
.article-index h3{padding:0 0 2px 0;margin: 0 0 10px 0;font-weight:500}
.nav-tabs.nav-stacked > li{float:none;margin:0 0 15px 0;padding:0;overflow:hidden}
.nav-tabs.nav-stacked > li a{box-shadow:none;background:none;margin:0;padding:0}

.article-introtext p{font-weight:500;margin-top:0}
.blog-image{margin-bottom:1.5em}
.article-image{position:relative;overflow:hidden;text-align:center}
.article-image.pull-left,.article-image.pull-right{max-width:75%}
.article-image.pull-left{margin:0 35px 0 0}
.article-image.pull-right{margin:0 0 0 35px}
.article-image .zoom-in{position:absolute;top:20px;right:20px;font-size:32px;color:#fff;opacity:0.4;text-shadow:1px 1px 1px #000;background:rgba(0,0,0,.4);padding:4px 6px 2px 6px;border-radius:4px}

.caption{position:absolute;bottom:0px;background:rgba(0,0,0,.4);padding:20px;width:100%;color:#fff;text-shadow:1px 1px 0 #000;box-shadow:inset 0 -5px 5px -5px rgba(0,0,0,.5);z-index:3;text-align:left}
.caption-inner{padding-left:20px;border-left:1px solid rgba(255,255,255,.1);box-shadow:-1px 0 0 rgba(0,0,0,.3)}
.caption .icon-picture{margin:5px 20px 0 5px;font-size:30px;color:#fff}

.pager{padding-top:1.5em}
.pager li{float:left}
.pager li:last-child{float:right}

.pagination-list .pagenumber{text-align:center;margin-right:10px}
.pagination-list .empty{width:18px;height:18px;padding:4px;display:block}
.pagination-list .filled,.pagination-list .round:hover div{width:7px;height:7px;padding:4px;margin:1px 0 0 1px;box-shadow:inset -1px -1px 0 rgba(0,0,0,.2),inset 1px 1px 0 rgba(255,255,255,0.6)}
.pagination-list .end,.pagination-list .next{margin-left:10px}
.pagination-list .start,.pagination-list .prev{margin-right:10px}

.footer{padding:1.5em 0 0 0}
.footer .search-query{padding:5px}

.footer .social{cursor:pointer;font-size:32px;color:#ccc;margin:0 10px 0 0}
.footer .social:hover:before{transform:scale(1.3)}
.footer .icon-github:hover:before{color:#333}
.footer .icon-facebook:hover:before{color:#3B5998}
.footer .icon-twitter:hover:before{color:#00B9F4}
.footer .icon-googleplus:hover:before{color:#D52527}

/* search */

.word label{margin-right:10px;padding:2px 0 0 0}
.word button{padding:3px 6px;margin-left:10px}
.search-results .well{}

/*modules */

.moduletable > *,.moduletable{margin:0 0 15px 0}
.modulecontent{padding:0 10px}
.footer .moduletable > *{margin:0 0 15px 0}

.moduletitle,.breadcrumbs{text-transform:uppercase;border-width:0 0 1px 0;border-style:solid;padding:10px 10px 8px 8px;border-radius:3px 3px 0 0}
.moduletitle{background:#eee}
.moduletitle i[class*="icon-"]{padding:6px;font-size:16px;margin-right:6px}

.categories-module{overflow:hidden}
.categories-module .btn-navbar{display:none}

.categories-list h4 a{color:#424347}
.categories-list li{line-height:2em}
.categories-list > li{padding:0 0 15px 0}
.categories-list > li > :first-child{padding:0 0 2px 0;margin: 0 0 10px 0;font-weight:500}
.categories-list li > *{font-size:12pt;margin:0;font-weight:300}

.mostread p{margin:15px 0}
.mostread h4,.mostread img{margin:15px 0 5px 0}

.navbar-inner > div{padding:10px 0}
.navbar-inner .nav{float:left}
.navbar-inner .nav > li{float:left;text-transform:uppercase;margin-right:5px}
.navbar-inner .nav > li > a,.navbar-inner .nav > li > div{padding:0 10px;border-radius:5px}

.navbar-inner .nav > li.active > a,
.navbar-inner .nav > li.deeper.active
{background:#e0e1e4;border-radius:5px}

.navbar-inner .nav > li > a:hover,
.navbar-inner .nav > li.deeper:hover,
.navbar-inner .nav > li.active:hover > a
{background:#c8c8ca}

.navbar-inner .nav > li.deeper:hover > a,.navbar-inner .nav > li.deeper:hover{border-radius:5px 5px 0 0}

.navbar-inner .nav > li.deeper > a{padding:0 5px 0 10px}
.navbar-inner .nav > li.deeper:before,.navbar-inner .nav-child .deeper:before{font-family:"Elusive-Icons";text-shadow:1px 1px 0 #fff}
.navbar-inner .nav > li.deeper:before {content:"\e11a";float:right;font-size:12px;padding:13px 0 0 0;margin:0 5px 0 0}
.navbar-inner .nav > li.deeper:hover:before{margin-top:5px}

.navbar-inner .deeper:hover > .dropdown-menu{opacity:1;margin-top:0;height:auto}
.navbar-inner .deeper:hover > .dropdown-menu li{display:block}
.navbar-inner .deeper:hover > .dropdown-menu ul{left:100%;top:5px;margin-left:0}

.navbar-inner .nav-child{font-size:12pt;white-space:nowrap;border:1px solid #ddd}
.navbar-inner .nav-child li{display:none;text-transform:none}
.navbar-inner .nav-child .divider{font-size:0;padding:0;border-bottom:1px solid #ddd;margin:4px 6px}
.navbar-inner .nav-child .heading{font-weight:700;color:#999;text-transform:uppercase;font-size:8pt;padding:4px 6px}
.navbar-inner .nav-child .deeper{padding-right:20px}
.navbar-inner .nav-child .deeper:before{content:"\e118";float:right;font-size:8px;margin:6px -15px 0 0;color:#aaa}
.navbar-inner .nav-child .deeper:hover:before {margin-right:-18px;color:#666}

.navbar-search{width:100%;border-radius:5px;overflow:hidden}
.search-inner{height:30px;padding:5px 12px 5px 5px}
.search-query{float:left;width:100%;height:100%;padding: 0 0 0 5px;color:#999;border-radius:3px;border:0;margin-right:-33px;box-shadow: 1px 1px 1px rgba(0,0,0,.1);}
.button-container{float:left;height:100%;width:28px}
.search-button{padding:1px 5px;margin:4px 0 0 3px;background:#424347;transform:scale(-1,1);-webkit-transform:scale(-1,1)}
.search-button i{color:#fff !important;text-shadow:1px 1px 1px #111;font-size:12px}
.autocompleter-choices{border-radius:0 0 3px 3px;margin-top:-2px;height:auto}

.breadcrumbs{font-size:14pt}
.breadcrumbs i{padding:0 5px}
.breadcrumbs i:first-child{padding:0 15px 0 0}

@media (max-width: 1280px){
 .navbar-inner .nav li{padding:15px}
 .navbar-inner .nav li div{display:none}
 .navbar-inner .nav li a{font-size:22pt}
 .navbar-search-inner{margin:5px 0 0}
.search-query{width:175px}
}
/* at least handheld devices */
@media (min-width: 979px){
.article-image:hover .zoom-in{opacity:0;transform:scale(2);-webkit-transform:scale(2)}
.article-image:hover .anim {transform:scale(1.2) rotate(-5deg);-webkit-transform:scale(1.6) rotate(-20deg)}
}
/* handheld devices */
@media (max-width: 980px){
.navbar{width:auto;padding:2px 0}
.article-image .zoom-in{display:none}
.navbar-inner .nav li{padding:10px}
.navbar-inner .nav li a{font-size:16pt}
.navbar-search-inner{margin:3px 0 0}
.anim,.anim:before{transition:none!important} 
.caption{padding:5px}
.caption:before{padding:10px 15px 10px;margin-right:10px;font-size:16px}
.search-query{width:175px}
}
/* Landscape phone to portrait tablet */

@media (min-width: 768px){
.categories-list{height:auto !important}
}
@media (max-width: 767px){
body{padding:0!important;overflow-x:hidden}

.navbar-inner > div{padding:5px 0 0 0}
.navbar{position:relative!important;margin:0!important}
.navbar-inner ul,.navbar-inner .nav li{box-shadow:none !important;border:0!important;padding:0}
.navbar-inner .nav li{margin:0 15px 5px 0}

.search-query{width:100%;overflow:hidden}
.search-button,.button-container{display:none !important}
ul.autocompleter-choices{padding:2px 0!important}

.container-fluid{padding:0 15px}
.moduletable > *,.moduletable{margin:0 0 15px 0}

.categories-list{height:0}
.categories-module .btn-navbar{display:block}
}